@tailwind preflight;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "sofia-pro-condensed";
    src: url('/css/font/Sofia_Pro_Condensed.ttf') format("truetype");
}

@font-face {
    font-family: "futura-pt";
    src: url("/css/font/Futura_PT.otf") format("opentype");
}

a {
    @apply text-black no-underline;
}

ul, li {
    @apply list-reset;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0;
    padding: 0;
}

p {
    @apply tracking-wider leading-loose text-13 text-grey-darkest;
}

[v-cloak] {
    display: none
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.menu {
    @apply border rounded-full relative cursor-pointer border-black bg-white fixed w-14 h-14;
    top: 60px;
    right: 50px;

    &.active {
        span:first-child {
            transform: translate(0, 0) rotate(-45deg);
        }

        span:nth-child(2) {
            transform: translate(60px, 0);
            opacity: 0;
        }

        span:last-child {
            transform: translate(0, 0) rotate(45deg);
        }
    }

    span {
        background-color: #333;
        width: 20px;
        height: 1px;
        position: absolute;
        top: calc(50% - (1px / 2));
        left: 20px;
        transition: all .2s;
        transform-origin: center center;
    }

    > span:first-child {
        transform: translate(0, -7px);
    }

    > span:last-child {
        transform: translate(0, 7px);
    }
}

.logo {
    @apply bg-white;
    padding: 60px 50px;

    img {
        transition: opacity .4s;

        &:hover {
            opacity: 0.6;
        }
    }
}

main {
    padding-top: 165px;
}

.tw-flex-start {
    order: 1;
}

.tw-flex-end {
    order: 2;
}

.tw-mask {
    background: linear-gradient(transparent 60%, #f7f1ad 50%);
}

.tw-line {
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: #b8c2cc;
        bottom: 2px;
        left: 0;
    }
}
