@tailwind preflight;

@tailwind components;

@tailwind utilities;

a {
    @apply .text-black .no-underline;
}

ul {
    @apply .list-reset;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none
}

.nav-container {
    @apply .mx-auto .flex .justify-between .items-center;
    padding-right: 50px;
}

.menu {
    @apply .border .rounded-full .relative .cursor-pointer .border-black .bg-white .z-50;
    width: 60px;
    height: 60px;

    &.active {
        span:first-child {
            transform: translate(0, 0) rotate(-45deg);
        }

        span:nth-child(2) {
            transform: translate(60px, 0);
            opacity: 0;
        }

        span:last-child {
            transform: translate(0, 0) rotate(45deg);
        }
    }

    span {
        background-color: #333;
        width: 20px;
        height: 1px;
        position: absolute;
        top: calc(50% - (1px / 2));
        left: 20px;
        transition: all .2s;
        transform-origin: center center;
    }

    > span:first-child {
        transform: translate(0, -7px);
    }

    > span:last-child {
        transform: translate(0, 7px);
    }
}

.logo {
    @apply .bg-white .z-50;
    padding: 60px 50px;
}

main {
    padding-top: 165px;
}
